/*#### PWA CSS page ####*/

.PWA__center {
    text-align: center;
}
/*#### end PWA CSS page ####*/

/*#### config svg inline text and emoji ####*/
.inline-content {
    display: flex;
    align-items: center;
}
.inline-content svg {
    margin-right: 8px;
}
/*#### end config svg inline text and emoji ####*/
.italic {
 font-style: italic;
}

.buttonstyle {
border-radius: 8px;
text-align: center;
display: inline-block;
padding: 1rem 2rem;
cursor: pointer;
background-image: linear-gradient(10deg, #4b505a, #2D3647 50%);
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
}

.buttonstyle:before {
content: "";
position: absolute;
height: 150px;
width: 50px;
background: #fff;
left: -55px;
top: -40px;
transform: rotate(37deg);
opacity: 0.3;
transition: left 0.3s ease; /* Transition uniquement pour "left" */
}
  
.buttonstyle:hover:before {
left: 100%; /* Animation fluide vers la droite */
}


/*#### contact form netlify ####*/
.row {
display: flex;
justify-content: space-between;
}

.column {
flex: 1;
margin-right: 10px; 
}

.column:last-child {
margin-right: 0;
}
.val__inputName {
width: 90%;
background-color: #fff;
color: black;
border-radius: 5px;
padding: 4%;
}
.val__input {
    padding: 4%;
}
.val__input, .val__message {
width: 100%;
box-sizing: border-box;
background-color: #fff;
color: black;
border-radius: 5px; 
}

.val__message {
height: 150px; 
resize: none;
padding:4%;
}
/*#### end contact form netlify ####*/