/* .vitepress/theme/custom.css */
:root {
    --vp-button-brand-bg: #2D3647;
    --vp-c-brand-light: #747bff;
    --vp-button-brand-hover-bg: #4279E2;
    --vp-home-hero-name-color: transparent;
    --vp-button-brand-hover-border: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ae00ff, #18a7d6);
    --vp-button-brand-border: transparent; 

    /*## custom content ##*/
    --vp-code-copy-copied-text-content: 'Copié !';

    --vp-home-hero-image-background-image: -webkit-linear-gradient(120deg, #ae00ff, #18a7d6);
    --vp-home-hero-image-filter: blur(50px);
  }
.color-danger {
  color:white;
}